apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: redirect-zapply-to-ilhaeng
  namespace: default   # 상황에 맞게 namespace 수정
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: https://api.ilhaeng.cloud
spec:
  ingressClassName: nginx
  rules:
    - host: api.zapply.site
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dummy-service
                port:
                  number: 80
